<div class='large-container center-block'>
    <h1>
        <%= @person.name %>
    </h1>
    <div>
        <%= @person.category %>
    </div>
    <div>
        <%= @person.email %>
    </div>
    <div>
        <%= @person.area %>
    </div>
    <div>
        <%= @person.leader %>
    </div>
    <div>
        <p> Added by: <strong><%= @person.user.email %></strong></p>
    </div>

    <div>
    <%= link_to 'Delete the person', @person, method: :delete %>
    </div>
</div>

