<h1>
    <%= @person.name %>
</h1>
<div>
    <%= @person.category %>
</div>
<div>
    <%= @person.email %>
</div>
<div>
    <%= @person.area %>
</div>
<div>
    <%= @person.leader %>
</div>
<div>
  <%= link_to 'Delete the article', @article, method: :delete %>
</div>

