<div class='large-container center-block'>
    <h1>
        <%= @person.name %>
    </h1>
    <div>
        <%= @person.category %>
    </div>
    <div>
        <%= @person.email %>
    </div>
    <div>
        <%= @person.area %>
    </div>
    <div>
        <%= @person.leader %>
    </div>
    <div>
        <p> Added by: <strong><%= @person.user.email %></strong></p>
    </div>

    <div class="mb-3">
    <%= link_to 'Edit person', edit_person_path(@person), class: 'btn btn-primary mr-2 my-2 my-sm-0' %>
    </div>
    <div>
    <%= link_to 'Delete person', @person, method: :delete, class: 'btn btn-primary mr-2 my-2 my-sm-0' %>
    </div>
    
</div>

